@media (min-width: 480px) and (max-width: 1399px) {
    .wrap {
        width: calc(100% - 85px - 85px);
    }
}

@media (max-width: 1023px) {
    .nav-list {
        min-width: 170px;
        padding: 20px 20px 30px 0;
        word-break: initial;
    }

    .nav-wrap > .nav-list {
        display: none;
    }

    .nav-wrap > .nav-list > .nav-list-item {
        position: relative;
        display: block;
    }
}

@media (max-width: 999px) {
    .content-blog .card {
        height: auto !important;
    }

    .content-blog .wrapthumbnail, .content-blog .col-md-7 {
        width: 100%;
        max-width: 100%;
        -webkit-box-flex: 0;
        -webkit-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
    }

    .content-blog .wrapthumbnail {
        height: 250px;
    }

    .content-blog .card-block {
        padding: 20px;
    }

    .content-blog .wrapfooter {
        position: relative !important;
        margin-top: 30px;
    }
}

@media (min-width: 767px) and (max-width: 999px) {
    .content-blog .card-block {
		padding-left: 1.25rem !important;
	}
}

@media (max-width: 991px) {
    span.post-read-more {
        display: none;
    }
}

@media (max-width: 767px) {
    .row .col-md-5 {
        padding: 0px !important;
    }

    .row {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .bottompagination span.navigation li, .bottompagination .pagination .page-numbers {
        padding: 0 10px;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .author-content .author-info div span {
        font-size: 3rem !important;
    }

    .author-content .author-info div span.nick {
        font-size: 1rem !important;
    }
}

@media (max-width: 767px) {
	.author-content .author-info  {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.author-content .author-info .author-name, .author-content .author-info .user-image {
		margin-left: 0 !important;
	}

	.anyposts img {
		width: 100%;
	}

	.title-border-left {
		display: block;
	}

    .author-content .author-info div span {
        display: block;
        font-size: 2rem !important;
        color: #b8403f;
    }

    .author-content .author-info div span.nick {
        font-size: 1rem !important;
    }

    .author-content .author-info div p {
        margin-top: 2rem;
        border: 1px solid #b8403f;
	    border-radius: 4px;
    }
}

@media (max-width: 570px) {
	.title-border-left {
		display: none;
	}
}
