img {
    max-width: 100%;
    height: auto;
}

.global-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.global-section {
    flex: 1 0 auto;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.welcome-title {
	text-align: center;
	font-weight: 700;
	font-size: 4rem;
	text-transform: uppercase;
	margin: 1rem;
	color: #333333;
}

nav header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    min-height: 160px;
    padding: 0;
}

.header-logo {
    line-height: initial;
    box-sizing: border-box;
    padding: 0 20px 0 0;
    flex: 0 1 250px;
}

.header-logo .is-logo img {
    max-width: 100%;
    max-height: 50px;
}

.header-nav {
    text-align: right;
    flex: 0 0 calc(100% - 250px);
}

.nav-wrap {
    font-size: 15px;
    font-weight: 700;
    position: relative;
    width: auto;
    padding: 0;
    letter-spacing: 0.9px;
}

.nav-list {
    z-index: 999;
    min-width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-wrap > .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-wrap > .nav-list > .nav-list-item {
    position: relative;
    display: inline-block;
    background-color: transparent;
}

.nav-list-item {
    margin: 0;
}

.nav-list-item a {
    color: #b8403f;
}

.nav-list .nav-list-item .nav-link {
    color: #b8403f;
}

.nav-list .nav-list-item .nav-link.primary {
	border: 1px solid #b8403f;
	border-radius: 4px;
}

.padding-card {
    padding-left: 10px;
    padding-right: 10px;
}

.content-blog .card {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    height: 260px;
    padding-left: 0;
    margin-bottom: 20px;
	-webkit-transition: box-shadow 0.2s ease,border 0.2s ease;
    transition: box-shadow 0.2s ease,border 0.2s ease;
}

.content-blog .card:hover {
	box-shadow: 0 30px 60px rgba(0,0,0,0.12);
    border-color: transparent;
}

.content-blog h2.card-title {
    font-size: 1.25rem;
    line-height: 1.25;
}

.content-blog h2.card-title a {
    color: #b8403f;
    font-weight: 700;
}

.content-blog h2.card-title a:hover {
    color: rgba(0,0,0,.6);
    text-decoration: none;
}

.content-blog span.card-text {
    color: #888;
    font-size: 0.9rem;
    line-height: 1.5;
    font-weight: 400;
}

.content-blog .wrapthumbnail {
    height: 258px;
    flex: 0 0 auto;
}

.content-blog .thumbnail {
    background-size: cover;
    height: 100%;
    display: block;
    background-position: 38% 22% !important;
    background-origin: border-box!important;
    border-top-left-radius: 2px;
}

.content-blog .card-block {
    padding: 1.25rem;
    padding-left: 0;
}

.content-blog .wrapfooter {
    position: absolute;
    bottom: 20px;
    font-size: 12px;
    display: block;
    width: 85%;
}

.meta-footer-thumb img {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 13px;
    border-radius: 100%;
}

.author-meta {
    flex: 1 1 auto;
    white-space: nowrap!important;
    text-overflow: ellipsis!important;
    overflow: hidden!important;
}

span.post-name, span.post-date, span.author-meta {
    display: inline-block;
}

span.post-name {
    text-transform: capitalize;
}

span.post-name a, span.post-read-more a:hover {
    color: rgba(0,0,0,.8);
	font-weight: 700;
}

span.post-date, span.post-read, span.readingtime {
    color: rgba(0,0,0,.54);
}

span.post-read-more {
    align-items: center;
    float: right;
    margin-top: 12px;
}

span.post-read-more a {
    color: rgba(0,0,0,.44);
}

.bottompagination span.navigation {
    display: block;
    font-size: 0.93rem;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 0;
    margin-top: 20px;
    color: #292929;
    border-top: 1px solid #ddd;
    border-radius: 0;
}

.bottompagination span.navigation li {
    display: inline-block;
    list-style: none;
    margin: 0 2px;
    padding: 0 20px;
    border-radius: 2px;
    font-size: 14px;
    position: relative;
    color: #999;
}

.bottompagination span.navigation a {
    color: #999;
}

.bottompagination span.navigation li a.active {
    color: #111;
    font-weight: 700;
}

.bottompagination span.navigation li a.active:after {
    content: "";
    background-color: #111;
    height: 1px;
    position: absolute;
    top: -17px;
    left: 0;
    right: 0;
}

.author-content .author-info {
	display: flex;
	align-items: center;
	line-height: 1;
}

.author-content .author-info .user-image img {
	width: 160px
}

.author-content .author-info .author-name, .author-content .author-info .user-image {
	margin-left: 1.4rem;
}

.author-content .author-info div span {
    display: block;
	font-size: 4rem;
	font-weight: 700;
	color: #333333;
}

.author-content .author-info div span.nick {
    font-size: 1.4rem;
}

.author-content .author-info div p {
    margin-top: 1.4rem;
	font-size: 1.4rem;
	font-weight: 400;
}

.anyposts {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.anyposts img {
	width: 600px
}

.anyposts p {
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
}

.title-border-left::after {
	content: "";
	position: absolute;
	width: 50px;
	border: 1px solid #b8403f;
	margin-bottom: 1rem;
}

/* DROPDOWN */
.dropdown-options {
	display: none !important;
}

.content-blog .card:hover > .dropdown-options {
	display: block !important;
}

@media (max-width: 767px) {
	.dropdown-options {
		display: block !important;
	}
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-default {
    background-color: #969c9c;
}
