@keyframes up {
    from {
        opacity: 0;
        transform: translateY(16px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-up {
    animation: up 300ms backwards;
}


@keyframes right {
    from {
        opacity: 0;
        transform: translateX(16px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-right {
    animation: right 300ms backwards;
}

.hero {
    animation-delay: 300ms;
    animation-duration: 3s;
}

.banner-title h1 {
    animation-delay: 400ms;
    animation-duration: 2s;
}

.btnAcess {
    animation-delay: 500ms;
    animation-duration: 1s;
}